body{
    background:#fff;
    font-family:Helvetica, Arial, sans-serif;
	color:#444;
	margin:0;
}

p {
    color:#444;
}

h1{
    color:#444;
    text-align:center;
	margin:0 0 2% 0;
}

h2{
    color:#4987c7;
    text-align:center;
	margin:5px;
}

h3 {
	margin:0;
}

h4 {
	margin:0;
	margin-top:50px;
}

a {
	color:#4987c7;
	text-decoration:none;
}

a:hover {
	color:#61a1e2;
}

footer {
    font-size:small;
    text-align: center;
    margin-top:1%;
	padding:2%;
}

/*Banner*/
header {
    height:100px;
    background:url(img/banner.png);
	background-repeat: no-repeat;
    background-position: center;
    margin-bottom:2%;
}

/*Gradient for banner*/
.header-bg {
	background: #4987c7; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #4987c7 0%, #2989d8 50%, #266db5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4987c7), color-stop(50%,#2989d8), color-stop(100%,#266db5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #4987c7 0%,#2989d8 50%,#266db5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #4987c7 0%,#2989d8 50%,#266db5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #4987c7 0%,#2989d8 50%,#266db5 100%); /* IE10+ */
	background: linear-gradient(45deg,  #4987c7 0%,#2989d8 50%,#266db5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4987c7', endColorstr='#266db5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.logo {
	max-width:300px;
	max-height:175px;
	min-height:100px;
}

/*Container, width 300px, centered*/
.small-width {
    width:300px;
    margin:auto;
    padding:1%;
}

/*Container, width 460px, centered*/
.med-width {
	width:40%;
    min-width:500px;
    margin:auto;
    padding:1%;
}

/*Grey background, blue text*/
.grey-bg {
    color:#4987c7;
    background:#f2f2f2;
}

.grey-bg a {
	color:#4987c7;
	text-decoration:none;
}

.grey-bg a:hover {
	color:#61a1e2;
}

/*Blue background, white text*/
.blue-bg {
    background:#4987c7;
    color:#ffffff;
}

.blue-bg h2 {
	color:#fff;
}

.blue-bg p {
	color:#fff;
	text-align:center;
}

.blue-bg a {
	color:#fff;
	text-decoration:none;
}

.blue-bg a:hover {
	color:#ccc;
}

/*Notification for new incoming form*/
#ny-skatt {
	border-radius:10px 10px 0px 0px;
	text-align: center;
}

/*Module for new form*/
#send-module {
	border-radius:0px 0px 10px 10px;
	overflow: auto;
}

#send-module label{
    float:left;
    clear:both;
}

#send-module input[type=text] {
    width:40%;
    font-size:14px;
    border:1px solid #ccc;
	border-radius:10px;
    padding:5px;
	margin-bottom:2px;
    float:left;
    clear:both;
}

#send-module input[type=submit], #send-module input[type=checkbox]{
    color:#4987c7;
    font-size:16px;
    margin-left: 4%;
    clear:both;
}

#send-module input[type=submit] {
	background: #61a1e2;
	color: #fff;
	width: 51%;
	border: 2px solid #95b9e4;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	position:relative;
	top:90px;

}

#send-module input[type=submit]:hover {
	background-color:#4987c7;
	color:#fff;
}

#send-module button[type=submit] {
	background:#61a1e2;
	color:#fff;
	font-size:16px;
	border:2px solid #ccc;
	border-radius:10px;
	cursor: pointer;
	width:100%;
	padding:10px;

}

#send-module button[type=submit]:hover {
	background:#4987c7;
}

/*Login*/
#login form {
	display: block;
}

#login {
	border-radius: 10px;
	padding:10px 20px 15px;
}

#login input[type=text], input[type=password] {
	width:94.5%;
	font-size:16px;
	padding:10px;
	border:1px solid #ccc;
	border-radius:10px;
	margin:5px 0;
}

#login input[type=submit] {
	background:#61a1e2;
	color:#fff;
	width:100%;
	border:2px solid #95b9e4;
	border-radius:5px;
	padding:10px;
	cursor:pointer;
	font-size:20px;
	margin-top:15px;

}

#login input[type=submit]:hover {
	background-color:#4987c7;
	color:#fff;
}

/*Incoming forms*/
#new-forms a {
	display:block;
	text-align:center;
	padding:5px;
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
}

#new-forms h3 {
	color:#4987c7;
	text-align:center;
	font-weight:normal;
}

#inkommen {
	margin-bottom:2%;
	margin-top:2%;
}

.mark-send {
	margin-left:1px;
}

#inkommen table {
    width: 100%;
	font-size:12px;
	border-collapse:collapse;
}

#inkommen table td, #inkommen table th {
	padding-bottom:1%;
	padding-top:1%;
	border-bottom:1px solid #ccc;
	text-align: center;
	padding:10px;
}

#export {
    margin-left: 23%;
    width: 50%;
	background:#4987c7;
	color:#fff;
	font-size:16px;
	cursor:pointer;
	border: 2px solid #fff;
	border-radius:10px;
	margin-top:5%;
}

#export:hover {
	background:#61a1e2;
}

/*List of forms for patient*/
#formular p {
	margin-bottom: 40px;
}

#formular form {
	display:inline;
}

#formular input[type=submit] {
	background:#4987c7;
	color:#fff;
	font-size:15px;
	cursor:pointer;
	border:2px solid #fff;
	border-radius:10px;
	padding:5px;
}

#formular input[type=submit]:hover {
	background-color:#61a1e2;
}

#formular table {
	width:100%;
	border-bottom: 1px solid #ccc;
	padding:1%;
}

.filled-form {
	margin-top:5%;
}

#formular .filled-form table {
	border:none;
}

#send-form input[type=submit] {
	width:50%;
	padding:1%;
}

/*Single form for patient*/
#single-form h4 {
	margin-top:20px;
}

#single-form input[type=radio] {
	margin:5px;
}

#single-form input[type=submit] {
	background:#4987c7;
	color:#fff;
	font-size:15px;
	cursor:pointer;
	border:2px solid #fff;
	border-radius:10px;
	padding:5px;
	margin-top:40px;
	width:30%;
}

#single-form input[type=submit]:hover {
	background-color:#61a1e2;
}

#single-form a {
	display:block;
	text-align:center;
	padding:5px;
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
}

/*Login for staff*/
.staff-admin .logo {
	margin-top:5%;
}

.staff-admin .grey-bg {
}

#staff-nav {
	text-align:center;
}

#staff-nav a {
	padding:5px;
	margin-left:3%;
	background:#61a1e2;
	color:#fff;
	border: 2px solid #95b9e4;
	border-radius:10px;
	font-size:14px;
}

#staff-nav a:hover {
	background:#4987c7;
}

.grey-center {
	text-align:center;
	color:#444;
}

#new-forms .download-button a {
	border:none;
	width:100%;
	background:#61a1e2;
	color:#fff;
	border-radius:10px;
	margin-top:1%;
}

.download {
	width:30%;
	margin:auto;
}

#new-forms .download-button a:hover {
	background:#4987c7;
}
