body{
    background:#fff;
    font-family:Helvetica, Arial, sans-serif;
}

table{
    color:#2b2828;
}

p {
    color:#2b2828;
}

h1 {
    color:#2b2828;
    text-align:center;
}

h2{
    color:#fff;
    text-align:center;
}

footer {
    font-size:small;
    text-align: center;
    margin-top:5%;
}

/*Banner*/
header {
    height:100px;
    background:url(img/banner.png);
    background-position: center;
    margin-bottom:5%;
}

/*Bredd pÃ¥ 300px, centrerat*/
.small-width {
    width:300px;
    margin:auto;
    padding:1%;
}

/*Bredd pÃ¥ 460px, centrerat*/
.med-width {
    width:460px;
    margin:auto;
    padding:1%;
}

/*GrÃ¥ Bakgrund, blÃ¥ text*/
.grey-bg {
    color:#4987c7;
    text-align:center;
    background:#f2f2f2;
}

/*BlÃ¥ bakgrund, vit text*/
.blue-bg {
    background:#4987c7;
    color:#ffffff;
    overflow:auto;
}

/*Notifikation fÃ¶r nya skattningar*/
#ny-skatt {
    margin-bottom: 2%;
}

/*Modul fÃ¶r att skicka ny skattning*/
#send-module label{
    float:left;
    clear:both;
}

#send-module input[type=text] {
    width:40%;
    font-size:16px;
    border:1px solid #ccc;
    padding:5px;
    float:left;
    clear:both;
}


#send-module input[type=checkbox]{
}

#send-module input[type=submit] {
    color:#4987c7;
    float:right;
    font-size:16px;
    margin-left: 2%;
    clear:both;
}
